
   
nav>ul>li:hover{
    display: inline-block;
    border-radius: 10px;
    border-width: 20px;
    background-color: rgb(100, 180, 255);
}
nav>ul>li{
    padding-left: 100px;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    justify-content:space-between ;
    padding: 20px;
    
}

.title{
    padding: 20px;
    margin: 20px;
    
}

.main{
    height: 700px;
    background-color: #fff;
    border-radius: 20px;
    margin: 50px 50px 50px 50px ;
    
}

.main-home{
    margin: 50px 0px 50px 50px ;
    height: 400px;
    background-color: #fff;
    border-radius: 20px;
    
}

body {
    background-color: #F0F2F5;
}

.content1 {
    margin: 20px;
    width: 90%;
}

p{
    margin: 0;
}
.tkn {
    width: 200px ;
}



.dv {
    display: flex;
    gap: 400px;
    padding: 0px 0px 10px 20px;
}

.error-message {
    color: red;
    font-size: 14px;
    font-style: italic;
}

.head_timkiem{
    padding-left: 30px;
    display: flex;
    gap: 10px
}

.overdue {
    color: red;
}
.paid {
    color: green;
}
.pending {
    color: orange;
}

/* .modal-body input  {
    border-block-end-color: black;
}

.modal-body select  {
    border-block-end-color: black;
} */

